{% capture html %}

<link href="https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">

<style>
p {
  font-family: 'Liu Jian Mao Cao', cursive;
}
</style>

<p>Almost before we knew it, we had left the ground.</p>

{% endcapture %}

{% action "email" %}
  {
    "to": {{ options.destination_email_address__email_required | json }},
    "subject": "PDF test",
    "body": "Please see the attached PDF. :)",
    "reply_to": {{ shop.customer_email | json }},
    "from_display_name": {{ shop.name | json }},
    "attachments": {
      "font-demo.pdf": {
        "pdf": {
          "html": {{ html | json }}
        }
      }
    }
  }
{% endaction %}