{% capture html %}
  <h1>Product catalog</h1>
  <ul>
  {% for product in shop.products %}
    {% assign image = product | img_url: "300x300", crop: "center" %}
    <li>
      <b>{{ product.title }}</b>
      <br>
      {% if image %}
        <img src="{{ image }}"/>
      {% else %}
        (no image)
      {% endif %}
    </li>
  {% endfor %}
{% endcapture %}

{% action "files" %}
  {
    "catalog.pdf": {
      "pdf": {
        "html": {{ html | json }}
      }
    }
  }
{% endaction %}
