name: Validity checks

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install node
      uses: actions/setup-node@v3
      with:
        node-version: '18.4.0'
        cache: 'npm'
    - name: Install npm
      run: npm install -g npm@8.15.1
    - name: Install node packages
      run: npm ci
    - name: Run tests
      run: npm test
